:root {
  --orange-color: #da722c;
  --darkblue-color: #023047;
  --dark-color: #070917;
  --light-color: #e8f7fb;
  --light-blue-color: #6f7dfb;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #eaf6f6;
}

.wrapper {
  max-width: 1134px;
  margin: 0 auto;
}

/* button */
.btn {
  border-radius: 24px;
  display: inline-flex;
  padding: 16px 32px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.btn.dark {
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
}

.btn.dark:hover {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.btn.light {
  background: var(--orange-color);
}

.btn.light:hover {
  color: rgb(60, 60, 60);
}

.btn.enroll-icon::before {
  content: url("images/icons/pencil.svg");
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}

.btn.enroll-icon {
  padding-left: 60px;
}

/* header */
header {
  /* background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%); */
  background: #292f36;
  height: 100vh;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 1134px;
  top: 36px;
  z-index: 100;
}

nav .logo {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 900;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.enroll-top {
  color: #000;
}

nav ul li a:hover {
  color: #f95959;
}

/* hero-section */
.hero-section {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}

.hero-section .left {
  width: 457px;
}

.hero-section .left h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 900;
  line-height: 125%;
  margin-bottom: 0;
}

.hero-section .left p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%; /* 32px */
  margin-bottom: 30px;
}

.hero-section .right {
  align-self: flex-end;
  vertical-align: middle;
  width: 446px;
}

.hero-section img {
  height: 520px;
}

.achievement-card {
  position: absolute;
}

.achievement-card .content {
  background: #fff;
  border-radius: 24px;
  padding: 8px 32px;
  z-index: 10;
  position: relative;
}

.achievement-card.students-enrolled {
  left: 49%;
  top: 200px;
}

.achievement-card h3 {
  color: var(--darkblue-color);
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.achievement-card p {
  color: var(--darkblue-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
}

.achievement-card .bg {
  position: absolute;
  border-radius: 24px;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  width: 100%;
  height: 100%;
  top: 8px;
  left: 8px;
  z-index: 1;
}

.achievement-card.overall-rating {
  left: 40%;
  top: 450px;
}

/* testimonials-section */
section {
  margin: 100px;
}

h2 {
  color: #023047;
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 900;
  margin: 0;
  color: var(--darkblue-color);
}

h2.light {
  color: #fff;
}

section p {
  color: var(--darkblue-color);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  margin: 12px 0;
}

.testimonials-section {
  display: flex;
  gap: 100px;
  align-items: center;
}

.testimonials-section .mobile-btn {
  display: none;
}

/* testimonial-card */
.testimonials-section .testimonial-card {
  width: 442px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 9px 36px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  position: relative;
}

.testimonials-section .testimonial-card::before {
  content: "";
  width: 28px;
  position: absolute;
  height: 40px;
  border-radius: 24px 24px 0 0;
  background: var(--darkblue-color);
  top: -40px;
  left: 60px;
}

.testimonials-section .testimonial-card:last-child::before {
  left: 40px;
  top: -50px;
  border-radius: 0 0 24px 24px;
  height: calc(100% + 90px);
  z-index: -1;
}

.testimonials-section .testimonial-card .content {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 150%;
  border-radius: 24px;
  padding: 24px 32px;
  color: #fff;
  background: var(--light-blue-color);
}

.testimonials-section .testimonial-card:last-child .content {
  background: var(--orange-color);
  color: #fff;
}

.testimonials-section .testimonial-card .info h4 {
  color: var(--darkblue-color);
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 120%;
  margin: 0;
}

.testimonials-section .testimonial-card .info {
  padding: 24px 32px;
  background: #fff;
  border-radius: 24px;
}

.testimonials-section .testimonial-card .info p.company {
  color: var(--darkblue-color);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
}

.testimonials-section .testimonial-card img {
  position: absolute;
  right: 32px;
  bottom: 20px;
}

.testimonials-section .testimonial-card:last-child {
  transform: translate(20px);
}

.testimonials-section .features {
  margin-bottom: 30px;
}
